doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title MEA-SAN, KOCCHI MUITE YO
        script(src='https://code.jquery.com/jquery-3.6.3.js')
        link(rel='stylesheet' href='css/mea_san.css')
        link(rel='icon' href='/img/Marca.ico')
    body
    section.title
        div.line
        h1 MEA-SAN, KOCCHI MUITE YO
        div.line

    // ilustracion de la descripcion
    section.ilustracion
        img(src='img/measan.png' alt='')
        h3 G&eacute;neros: Drama, Escolar, Romance.
    
    section.minfo
        table
            tr
                th Cr&eacute;ditos: 
            tr
                th Autor:
                td Hozumi Kei.
            tr
                th Ilustrador:
                td Kamioka Chirol.
            tr
                th Editorial:
                td MF Bunko
            tr
                th Encargados de la Traducci&oacute;n:
            tr
                th Traductor del Ingl&eacute;s al Espa&ntilde;ol:
                td Shigatsu Translations
            tr
                th Editor de Ilustraciones
                td Rouni
            tr
                th Maquetador de PDF:
                td Rouni
            tr.sinop
                th(colspan='2') Sinopsis:
            tr.sinop2
                td(colspan='2')
                    | El d&iacute;a antes de ingresar a la escuela secundaria, yo, Kuya Nonomiya, fui llevado por mi padre a un apartamento 1DK reci&eacute;n construido. All&iacute; estaba una chica extremadamente linda de la misma edad, Mea Chitose. 
                    br
                    |                     &ldquo;&iexcl;A partir de hoy, son reci&eacute;n casados! &iexcl;Ustedes deben vivir juntos!&rdquo; 
                    br
                    |                     &iquest;Presentado como prometido y obligado a vivir juntos?  
                    br
                    |                     Estaba muy confundido por el repentino desarrollo, pero Mea-san parece aceptarlo, ya que dijo: &laquo;Voy a ser&mldr; la esposa de Kuya-san&raquo;. Sus acciones fueron extremadamente lindas. Realmente tengo el deseo de ver m&aacute;s de la ternura de Mea-san. 
                    br
                    |                     Entonces, comenz&oacute; nuestra vida de reci&eacute;n casados (?) entre estudiantes de secundaria.


    each back in volumene
        figure.backgraoud
            img(src=back.backgroud alt='')

    section.volumenes        
        each volumenes in volumene
            figure.figure
                img(src=volumenes.imagen alt='')                
                h4=volumenes.volumen
                a.link(href=volumenes.drive) Descargar  Drive
                a.link(href=volumenes.mega) Descargar Mega
    
    #disqus_thread
    script.
        (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://underwordliellanovelsm.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    noscript
        | Please enable JavaScript to view the 
        a(href='https://disqus.com/?ref_noscript')
            | comments powered by
            | Disqus.

    // la parte de abajo
    section.footer
        p Derechos Reservados
        p Copyright &copy; 2023 UnderwordLiellaNovels
    script(src='main/url.js')
    script(src='//cdn.jsdelivr.net/npm/sweetalert2@11')